/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'times new roman', sans-serif;
    background-image: url('Baground\ 1.jpg');
    color: #333;
}

/* Header */
header {
    background-image: url('Logo\ Hukum5.jpg');
    color: rgb(221, 2, 2);
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
    width: 200px;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 26px;
    font-family: 'times new roman', sans-serif;
    text-transform: uppercase;
}
header h2 {
    margin: 0;
    font-size: 26px;
    font-family: 'times new roman', sans-serif;
    text-transform: uppercase;
}
header p {
    margin: 5px;
    font-size: 10px;
    font-style: italic;
}

/* Navigasi */
nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: #f4a261;
    border-radius: 5px;
}
.box {
    background-color: #ffffff;
    padding: 100px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(133, 207, 250);
    transition: box-shadow 0.3s -out-in;
  }
  
  .box:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
/* Konten Section */
section {
    padding: 40px 20px;
    text-align: center;
}

section h3 {
    font-size: 40px;
    font-weight: 500;
    color: rgb(247, 3, 3);
}
section h4 {
    font-size: 10px;
    font-weight: 500;
    color: rgb(247, 3, 3);
}
section p {
    font-size: 10px;
    line-height: 1.6;
}

/* Box Shadow */
.box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #131212;
    color: rgb(247, 247, 247);
    padding: 20px;
    text-align: center;
}

/* Responsif */
@media (max-width: 600px) {
    header h1 {
        font-size: 10px;
    }

    header p {
        font-size: 10px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    section h2 {
        font-size: 10px;
    }

    section p {
        font-size: 10px;
    }
}
